{% extends 'base.html' %}

{% block title %}Game{% endblock %}
{% block subtitle %}Sta je klaar?{% endblock %}

{% block body %}
<h2>Walltag</h2>
<p>Walltag is een spel waarbij je binnen twee seconden op het juiste doelwit moet schieten. Ben je te laat of mis je, dan kost dat punten. Zodra je al je levens verloren hebt is het spel over.</p>
{% if leaderboard %}
<h2>Leaderboard</h2>
<table>
  <tr>
      <th>#</th>
      <th>Naam</th>
      <th>Score</th>
      <th>Tijd</th>
      <th>Datum</th>
  </tr>
  {% for i in range(leaderboard|length) %}
  <tr>
    <td>{{ i + 1 }}</td>
    <td>{{leaderboard[i][1]}}</td>
    <td>{{leaderboard[i][2]}}</td>
    <td>{{leaderboard[i][5]}}</td>
    <td>{{leaderboard[i][4].strftime('%d-%m-%Y')}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
