<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>Walltag</title>
    </head>
    <body>
        <div class="container">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="update">Game</a></li>
                <li><a href="#about">About</a></li>
                <li><img id="photo" src="/static/logo.png" /></li>
            </ul>
            <div id="inleiding">
                <h1>Walltag project</h1>
                <h1 id="names">UnderGod<br>Damian  Evelien  Hamza  Aghead</h1>
            </div>
            <form action="/signup"  method="post">
                <p class="formulier">
                    <label for="player_name" id="user">First name:</label>
                    <input type="text" id="player_name" name="player_name">
                    <button id="button" type="submit" value="Submit">Start Game</button>
                </p>
            </form>
        </div>
    </body>
</html>