<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>Walltag</title>
    </head>
    <body>
        <div class="container">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="update">Game</a></li>
                <li><a href="#about">About</a></li>
                <li><img id="photo" src="/static/logo.png" /></li>
            </ul>
            <div id="inleiding">
                <h1>The Walltag Project</h1>
                <h3 id="SpelInfo">Wall-Tag draait om naukeurigheid en snelheid, de speler bezit 3 levens & een Gun. <br>
                                    De bedoeling is dat de speler de targets raakt binnen 2.0 seconden.
                        Succes :)
                </h3>
            </div>
            <div id="startgame">
                <form class="formulier" action="/signup"  method="post">
                    <label for="player_name" id="user">First name:</label>
                    <input type="text" id="player_name" name="player_name">
                <div id="buttonStart">
                    <button id="button" type="submit" value="Submit">Start Game</button>
                </div>
                </form>
                <h1 id="names">Team-UnderGod<br>Damian  Evelien  Hamza  Aghead</h1>
            </div>
        </div>
    </body>
</html>