<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>{{ mytitle }}</title>
    </head>
    <body>
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="update">Game</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="active" href="/monitoring">Monitoring</a></li>
                <li><img id="photo" src="/static/logo.png" /></li>
            </ul>
            <h2>Walltag</h2>
            <div id="gegevens">
                <p>Speeltijd: {{speeltijd}}</p>
                <p>Tagets aangesloten: {{game.serTargetStatus}} </p>
                <p>Gun aangesloten: {{game.serGunStatus}} </p>
                <p>magneet sensor: </p>
            </div>







        </div>
    </body>
</html>