<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>Walltag</title>
    </head>
    <body>
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="update">Game</a></li>
                <li><a href="#about">About</a></li>
                <li><img id="photo" src="/static/logo.png" /></li>
            </ul>
            <h2>Walltag</h2>
            <div id="gegevens">
                <p>Player_Name: {{ game.playerName }} </p>
                <p>Lives: {{ game.playerLives }}</p>
                <p>score: {{ game.playerPoints }}</p>
                <p> {{game.lastLine}} </p>
            </div>
        </div>
    </body>
</html>










