<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Walltag</title>
    </head>
    <body>
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="update">Game</a></li>
                <li><a href="/about">About</a></li>
                <li><img id="photo" src="/static/logo.png" /></li>
            </ul>
            <h2>Walltag</h2>
            <div id="gegevens">
                <p id="Name">Name: </p>
                <p id="Lives">Lives: </p>
                <p id="points">Score: </p>
                <p id="lastLine"> </p>
            </div>
            <script>
            setInterval(function update() {
                $.get("/get_data", function (response) {
                    $('#Name').text("Name: "+ response.playerName),
                    $('#Lives').text("Lives: "+ response.playerLives),
                    $('#points').html("Score: "+ response.playerPoints),
                    $('#lastLine').text(response.lastLine)
                },'json',);
            }, 500);
        </script>
        </div>
    </body>
</html>
