<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <title>Walltag</title>
    </head>
        <body>
            <div id="inleiding">
                <h1>

                    <p>Walltag project</p>
                    <p id="names">Ondergod<br>Damian  Evelien  Hamza  Aghead</p>

                </h1>
            </div>
                <ul>
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="update.html">Game</a></li>
                    <li><a href="#about">About</a></li>
                    <li><img id="photo" src="logo.png"></li>
                </ul>
                    <p class="formulier">
                        <form action="/signup"  method="post">
                        <label for="player_name" id="user">First name:</label>
                        <input type="text" id="player_name" name="player_name">
                        <button id="button" type="submit" value="Submit">Start Game</button>
                        </form>
                    </p>

        </body>



</html>