<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <title>Walltag</title>
    </head>
        <body>
            <h2>
               <br><br>Walltag
            </h2>

                <div id="gegevens">
                    <br>Player_Name: {{ game.playerName }} <br>
                    <br>Lives: {{ game.playerLives }}</br>
                    <br>score: {{ game.playerPoints }}</br>
                    <br> {{game.lastLine}} </br>
                </div>

                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a class="active" href="update.html">Game</a></li>
                        <li><a href="#about">About</a></li>
                        <li><img id="photo" src="logo.png"></li>
                    </ul>
        </body>
</html>










