<html>
    <head>
        <title>Walltag</title>
    </head>
        <body>
            <p>
                    <form action="/signup"  method="post">
                        <label for="player_name">First name:</label>
                        <input type="text" id="player_name" name="player_name"><br><br>
                        <button type="submit" value="Submit">Start Game</button>
                    </form>
            </p>
            <p>
                <pre>
                </pre>
            </p>
        </body>



</html>