body {
    background-color: #570f05;
    margin: 0;
    font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

#inleiding {
    text-align: center;
    color: goldenrod;
}

#photo {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
}

#button {
    background-color: #691406;
    color: white;
    size: 100px;

}

#names {
    margin-top: 200px;
    word-spacing: 30px;
    font-size: 20px;
    color: #ea7b45;
}

#user {
    font-size: 20px;
    color: white;
}

#player_name {
    align-content: center;
    width: 250px;
    font-size: 15px;
    background-color: #691406;
    color: white;
}

ul {
    align-content: center;
  list-style-type: none;
  margin-right: 55%;
  margin-left: 35%;
  padding: 15px;
  overflow: hidden;
  background-color: #570f05;
  width: 100%;
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ea7b45;
}

.active {
      background-color: goldenrod;
}
#gegevens {
    text-align: left;
    word-spacing: 15px;
    font-size: 15px;
    color: #ea7b45;
}
h2 {
    text-align: center;
    font-size: 45px;
    color: #ea7b45;
}
#startgame {
    align-content: center;
    padding: 100px;
    text-align: center;
}
div buttonStart {
    margin-top: 50%;
    margin-bottom: 10%;
    size: 100px;
}

